'*.h5' filter=lfs diff=lfs merge=lfs -text
'C:/Users/Legion filter=lfs diff=lfs merge=lfs -text
5/Desktop/moscow_sights_center(12).h5' filter=lfs diff=lfs merge=lfs -text
'moscow_sights_center(12).h5' filter=lfs diff=lfs merge=lfs -text
